@model List<Tp4.PracticaEF.MVC.Models.Datum>

@{
    ViewBag.Title = "Api Cats Facts";
}
<h1>Cat Facts</h1>

<table class="table">

    <thead>
        <tr>

            
            <th scope="col">Fact</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var facts in Model)
        {
        <tr>
            <td>@facts.Fact</td>
        </tr>
        }
    </tbody>


    </table>

<div>
   


</div>


